{% extends 'base.html' %}
{% load cart_tag %}

{% block content %}
{% for key,product in request.session.cart.items %}
<div class="card" style="width: 18rem;">
  <img src="{{ product.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ product.price }}</li>
    <li class="list-group-item">{{ product.quantity }}</li>
    <li class="list-group-item">Total: {{ product.price|multiply:product.quantity }}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'item_increment' key %}" class="card-link"><span>&#43;</span></a>
    {% if not product.quantity == 1 %}
    <a href="{% url 'item_decrement' key %}" class="card-link"><span>&#8722;</span></a>
    {% endif %}
  </div>
  <a class="btn btn-danger" href="{% url 'item_clear' key %}" role="button">Remove</a>
</div>
{% endfor %}

<a class="btn btn-warning" href="{% url 'cart_clear' %}" role="button">Clear</a>

{% endblock %}
