{% extends 'base.html' %}
{% block content %}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
{% for product in products %}
  <div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style="'width": px; height="auto" src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a></h5>
        <p class="card-text">{{ product.description|truncatechars:200 }}</p>
        <p class="card-text"><small class="text-muted">{{ product.price }} сом.</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>


<!--Pagination-->
{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'list' category %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'list' category %}?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
<!--End pagination-->
{% endblock %}